*{
    margin: 0px;
    padding: 10px auto;
}
body{
    background-image: url(unnamed.png);
}
main{
    display: flex;
}
#sec1{
    background-color: #6fab8a;
    color:#b7d5c4;
    width: auto;
    margin-left: 2%;
    margin-right: 5%;
    height: auto;
    
   
}
h2{
    font-size: 20px;
    color: black;
}
img{
    padding-bottom: 15px;
}
h3{
    border-bottom: 1px solid #b7d5c4;
    padding-bottom: 5px;
}
span{
    color: #ffffff;
    font-weight: bold;
}
div,ul{
    padding-top: 30px;
}
#sec2{
    margin-top: 45px;
    padding: 0px;
}
article{
    padding-bottom: 35px;
}
#parapro{
    padding-top: 20px;
    text-align: justify;
}
table{
    padding-top: 20px;
}

table,td{
    text-align: center; 
    vertical-align: middle;
}